<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <a class="navbar-brand" routerLink="/" (click)="toggleCollapsed()">O</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"  (click)="toggleCollapsed()" >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div #Collapser class="collapse navbar-collapse" id="navbarsExampleDefault" [ngClass]="{'collapse': collapsed }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/shopping-cart" (click)="toggleCollapsed()">Shopping Cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" (click)="toggleCollapsed()" *ngIf="!user">Login</a>
      </li>
      <li class="nav-item dropdown" #liForShow *ngIf="user">
        <a #anchor tabindex="-1" class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" (click)="triggerChange()" (blur)="blur($event)">{{user?.displayName}}</a>
          <!-- A negative value (usually tabindex="-1") means that the element should be focusable, but should not be reachable via sequential keyboard navigation.
             It's mostly useful to create accessible widgets with JavaScript. -->
        <div class="dropdown-menu" #divForShow aria-labelledby="dropdown01" >
          <a class="dropdown-item" routerLink="/my/orders">My Orders</a>
          <a class="dropdown-item" routerLink="/admin/orders">Manage Orders</a>
          <a class="dropdown-item" routerLink="/admin/products">Manage Products</a>
          <a tabindex="-1" class="dropdown-item" (click)="logout();toggleCollapsed();">Log Out</a>
        </div>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>

<!-- <main role="main" class="container">

  <div class="starter-template">
    <h1>Bootstrap starter template</h1>
    <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a
      mostly barebones HTML document.</p>
  </div> -->
