<h1>Shopping Cart</h1>
<ng-container>
  <p>
    You have {{ cartCount }} items in your shopping cart.
  </p>
  <table class="table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cart.items">
        <td>{{ item.product.title }}</td>
        <td>{{ item.quantity }} </td>
        <td> {{ item.totalPrice | currency:'USD' }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <th>{{ cart.totalPrice | currency:'USD' }}</th>
      </tr>
    </tfoot>
  </table>
</ng-container>
