<h1>Order Details</h1>
<div class="card text-center">
    <div class="card-header">
      Order Summary
    </div>
    <div class="card-body" *ngIf="order">
        <ul class="list-group list-group-flush">
            <li *ngFor="let item of order.items" class="list-group-item">
            {{ item.quantity }} x {{ item.product.title }}
            <div class="float-right">
              {{ item.totalPrice | currency:'USD' }}
            </div>
            </li>
            <li class="list-group-item font-weight-bold">
              Total
              <div class="float-right">
                {{ cartTotal| currency:'USD' }}
              </div>
            </li>
          </ul>
    </div>
  </div>
